<h2 class="text-text_color capitalize font-bold text-[24px] mb-1">
  {{ title }}</h2>
<div class="p-6 bg-white rounded-md  mt-6">

  <div class="flex  gap-8 items-start justify-between">
    <div class="text-center    capitalize font-14 text-text_color ">
      <div> Ministdy of Higher Education and Scientific Research
      </div>
      <div>----***----</div>
      <div>Sousse university</div>
    </div>
    <div class="h-[120px]   relative tdanslate-y-[-24px] ">
      <img class=" object-cover max-h-full max-w-full  w-full h-full " height="120"
           src="/assets/images/university_logo.jpg"
           width="100">
    </div>
    <div class="text-center capitalize font-14 text-text_color  ">
      <div> Higher Institute of Applied Sciences and Technology of Sousse
      </div>
      <div>----***----</div>
      <div>Directorate of Studies
        <div class="mt-1"> AU: 2024-2025</div>
      </div>
    </div>

  </div>
  <h2 class="text-text_color capitalize text-center font-bold text-[23px] mb-1">
    study Plan</h2>
  @for (sem of studyPlanReponse().semesters; track sem.id) {

    <div class="flex   mt-8 justify-between  ">

      <div class=" ">
        <div>
          <span class="text-gray-500 text-[12px] font-medium ">Department:</span>
          <span class="pl-2  text-purple_main text-[12px] font-medium">
          {{ level() ? level()?.department : "" }}</span>
        </div>
        <div class="mt-2">
          <span class="text-gray-500 text-[12px] font-medium ">Level :</span>
          <span class="pl-2  text-purple_main text-[12px] font-medium">
          {{ level() ? level()?.name : "" }} </span>
        </div>

      </div>
      <div class=" ">

        <div class="">
          <span class="text-gray-500 text-[12px] font-medium ">Track:</span>
          <span
            class="pl-2  text-purple_main text-[12px] font-medium">{{ level() ? level()?.specialityWithTrack : "" }}</span>
        </div>
        <div class="mt-2">
          <span class="text-gray-500 text-[12px] font-medium ">Semester:</span>
          <span class="pl-2  text-purple_main text-[12px] font-medium">First semester</span>
        </div>
      </div>
      <div class=" ">

        <div class="mt-2 ">
          <span class="text-gray-500 text-[12px] font-medium ">Start date : </span>
          <span class="pl-2  text-purple_main text-[12px] font-medium"> {{ getPeriod(sem.startDate) }}</span>
        </div>
        <div class="mt-2 ">
          <span class="text-gray-500 text-[12px] font-medium ">End date: </span>
          <span class="pl-2  text-purple_main text-[12px] font-medium"> {{ getPeriod(sem.endDate) }}</span>
        </div>
      </div>
    </div>
    @for (semester of data(); track semester.id; let index = $index) {
      <table [class.mt-24]="index ==1" class=" w-full mt-4 ">

        <thead class="max-h-[30px] h-[30px]">
        <tr>
          @for (col of columns(); track col; let first = $first, last = $last) {
            <th [class.px-[2px]]="!first&&!last" [class.pr-[2px]]="$first" [class.pl-[2px]]="$last">
              <div
                class=" h-[30px] whitespace-nowrap max-h-[30px] bg-purple_bg
               py-1 border border-purple_main text-[14px] text-gray-600
               font-medium px-4 text-center ">
                {{ col.column }}
              </div>
            </th>
          }
        </tr>

        </thead>
        <tbody>
          @for (mod of semester.modules;
            track mod.module;

            let indexM = $index) {
            @for (sub of mod.subjects;
              track sub;
              let firstS = $first, lastS = $last) {

              <tr [class.border-t]="!firstS"
                  [class.border-t-gray_color]="lastS"
                  [class.border-b-2]="lastS"
                  [class.border-b-text_color]="lastS"

              >
                @for (col of columns(); track col; let index = $index; let f = $first, l = $last) {
                  @if (firstS) {
                    <td [attr.rowspan]="(firstS&& col.rowspan)? mod.subjects.length:1"
                        [class.align-top]="(firstS&& col.rowspan)"
                        [class.font-semibold]="(firstS&&index==1)"
                        [class.text-center]="((index>3 && index<columns().length-1) || index==0)"
                        class="pl-[4px] text-[10px]  whitespace-nowrap ">
                      @if (index == 0 && firstS) {
                        {{ indexM + 1 }}
                      } @else {
                        {{ getValue(col, mod, sub) }}

                      }
                    </td>
                  } @else if (!firstS && !col.rowspan) {
                    <td
                      [class.text-center]="((index>3 && index<columns().length-1) || index==0)"
                      class="pl-[4px] text-[10px]  text-center whitespace-nowrap ">
                      {{ sub[col.accessor] }}
                    </td>
                  }
                }
              </tr>
            }
          }
        <tr>
          @for (col of columns(); track col; let index = $index; ) {
            @if (col.withTotal) {
              <td class="font-semibold text-center">
                {{ getTotal(0, col.accessor) }}
              </td>
            } @else if (col.accessor == "subject") {
              <td class="font-semibold text-right">Total=</td>
            } @else {
              <td></td>
            }
          }
        </tr>
        <tr>
          @for (col of columns(); track col; let index = $index; ) {
            @if (col.accessor == "subject") {
              <td class="font-semibold text-right">The total hourly time=</td>
            } @else if (index == 4) {
              <td class="font-semibold text-center">{{ getTotalHour(0) }}</td>
            } @else {
              <td></td>
            }
          }
        </tr>

        </tbody>
      </table>
    }
  }


  <div class="flex justify-between text-text_color text-[10px] mt-20">
    <div>
      H.* :number of hours of * per week
    </div>
    <div>
      Coef.S:subject coefficient
    </div>
    <div>
      Coef.M:module coefficient
    </div>
  </div>
</div>

<div class="mt-8 flex ml-auto gap-4 w-fit">

  <button
    [style.border]="' solid 1.8px  !important'"
    class="bg-transparent border-2 border-red-500
           text-purple_main  text-[15px]  shadow-none
            h-[40px] px-[22px]  flex "
    extended mat-fab
    type="button">
    <mat-icon class=" font-light text-[20px] leading-[20px] mr-1 ">
      edit
    </mat-icon>
    Editer
  </button>
  <button
    class="bg-purple_main text-[15px] font-light h-[40px] px-[22px] "
    extended
    mat-fab
    type="submit"
  >
    <mat-icon class=" font-light text-[19px] leading-[23px] mr-2 ">
      save
    </mat-icon>
    Save as PDF
  </button>
</div>
