<h2 class="text-text_color capitalize font-bold text-[24px] mb-1">
  {{ title }}</h2>
<div class="p-6 bg-white rounded-md pb-20 mt-6">

  <div class="flex  gap-8 items-start justify-between">
    <div class="text-center    capitalize font-14 text-text_color ">
      <div> Ministdy of Higher Education and Scientific Research
      </div>
      <div>----***----</div>
      <div>Sousse university</div>
    </div>
    <div class="h-[120px]   relative tdanslate-y-[-24px] ">
      <img class=" object-cover max-h-full max-w-full  w-full h-full " height="120"
           src="/assets/images/university_logo.jpg"
           width="100">
    </div>
    <div class="text-center capitalize font-14 text-text_color  ">
      <div> Higher Institute of Applied Sciences and Technology of Sousse
      </div>
      <div>----***----</div>
      <div>Directorate of Studies
        <div class="mt-1"> AU: 2024-2025</div>
      </div>
    </div>

  </div>
  <h2 class="text-text_color capitalize text-center font-bold text-[23px] mb-1">
    study Plan</h2>
  <div class="flex   mt-8 gap-24 ">

    <div class=" ">
      <div>
        <span class="text-gray-500 text-[12px] font-medium ">Department:</span>
        <span class="pl-2  text-purple_main text-[15px] font-medium">Computer Science</span>
      </div>
      <div class="mt-2">
        <span class="text-gray-500 text-[12px] font-medium ">Level :</span>
        <span class="pl-2  text-purple_main text-[15px] font-medium">First year </span>
      </div>

    </div>
    <div class=" ">

      <div class="">
        <span class="text-gray-500 text-[12px] font-medium ">Track:</span>
        <span class="pl-2  text-purple_main text-[15px] font-medium">301-DNI: Informatique: Tronc Commun</span>
      </div>
      <div class="mt-2">
        <span class="text-gray-500 text-[12px] font-medium ">Semester:</span>
        <span class="pl-2  text-purple_main text-[15px] font-medium">First semester</span>
      </div>
    </div>
  </div>
  <table class=" w-full mt-4 ">

    <thead class="max-h-[30px] h-[30px]">
    <tr>

      <th
        class=" pr-[2px]  ">
        <div
          class="  h-[30px] whitespace-nowrap max-h-[30px] bg-purple_bg py-1 border border-purple_main text-[14px] text-gray-600 font-medium px-4 text-center ">
          N°
        </div>
      </th>
      <th class=" px-[2px]">
        <div
          class=" h-[30px] whitespace-nowrap max-h-[30px] bg-purple_bg py-1 border border-purple_main text-[14px] text-gray-600 font-medium px-4 text-center ">
          Module
        </div>
      </th>
      <th class=" px-[2px]">
        <div
          class=" h-[30px] whitespace-nowrap max-h-[30px] bg-purple_bg py-1 border border-purple_main text-[14px] text-gray-600 font-medium px-4 text-center ">
          Module type
        </div>
      </th>
      <th class=" px-[2px]">
        <div
          class=" h-[30px] whitespace-nowrap max-h-[30px] bg-purple_bg py-1 border border-purple_main text-[14px] text-gray-600 font-medium px-4 text-center ">
          Subjects
        </div>
      </th>
      <th class=" px-[2px]">
        <div
          class=" h-[30px] whitespace-nowrap max-h-[30px] bg-purple_bg py-1 border border-purple_main text-[14px] text-gray-600 font-medium px-4 text-center ">
          H.C
        </div>
      </th>
      <th class=" px-[2px]">
        <div
          class=" h-[30px] whitespace-nowrap max-h-[30px] bg-purple_bg py-1 border border-purple_main text-[14px] text-gray-600 font-medium px-4 text-center ">
          H.TD
        </div>
      </th>
      <th class=" px-[2px]">
        <div
          class=" h-[30px] whitespace-nowrap max-h-[30px] bg-purple_bg py-1 border border-purple_main text-[14px] text-gray-600 font-medium px-4 text-center ">
          H.TP
        </div>

      </th>
      <th class=" px-[2px]">
        <div
          class=" h-[30px] whitespace-nowrap max-h-[30px] bg-purple_bg py-1 border border-purple_main text-[14px] text-gray-600 font-medium px-4 text-center ">
          Coef.S
        </div>
      </th>
      <th class=" px-[2px]">
        <div
          class=" h-[30px] whitespace-nowrap max-h-[30px] bg-purple_bg py-1 border border-purple_main text-[14px] text-gray-600 font-medium px-4 text-center ">
          Coef.M
        </div>
      </th>

      <th class=" px-[2px]">
        <div
          class=" h-[30px] whitespace-nowrap max-h-[30px] bg-purple_bg py-1 border border-purple_main text-[14px] text-gray-600 font-medium px-4 text-center ">
          Average
        </div>
      </th>
    </tr>

    </thead>
    <tbody>
    <tr class="">
      <td [attr.rowspan]="2" class="text-[10px] align-top ">1</td>
      <td [attr.rowspan]="2" class="text-[10px]  align-top font-medium">Mathématiques Appliquées 2</td>
      <td [attr.rowspan]="2" class="text-[10px] align-top"> Fondamentale</td>
      <td class="text-[10px]  whitespace-nowrap">01A-7101-Mathématiques discrètes</td>
      <td>1.5</td>
      <td>0.75</td>
      <td>0.0</td>
      <td>1.5</td>
      <td [attr.rowspan]="2" class="text-[10px] align-top">3.5</td>
      <td>(2Ex+Ds)/3</td>

    </tr>

    <tr class=" border-t border-b-2  border-t-gray_color border-b-text_color ">
      <td class="text-[10px] whitespace-nowrap">02A-7102-Probabilité et Statistiques</td>
      <td>1.5</td>
      <td>1.5</td>
      <td>0.0</td>
      <td>2</td>
      <td>(2Ex+Ds)/3</td>


    </tr>



    <tr class="">
      <td [attr.rowspan]="2" class="text-[10px] align-top ">1</td>
      <td [attr.rowspan]="2" class="text-[10px]  align-top font-medium">Mathématiques Appliquées 2</td>
      <td [attr.rowspan]="2" class="text-[10px] align-top"> Fondamentale</td>
      <td class="text-[10px]  whitespace-nowrap">01A-7101-Mathématiques discrètes</td>
      <td>1.5</td>
      <td>0.75</td>
      <td>0.0</td>
      <td>1.5</td>
      <td [attr.rowspan]="2" class="text-[10px] align-top">3.5</td>
      <td>(2Ex+Ds)/3</td>

    </tr>

    <tr class=" border-t border-b-2  border-t-gray_color border-b-text_color ">
      <td class="text-[10px] whitespace-nowrap">02A-7102-Probabilité et Statistiques</td>
      <td>1.5</td>
      <td>1.5</td>
      <td>0.0</td>
      <td>2</td>
      <td>(2Ex+Ds)/3</td>


    </tr>

    </tbody>

  </table>

</div>
