<div [formGroup]="_formSemester" class="rounded-xl bg-white mt-8 border-gray_color border">
  <div class="h-[70px] bg-purple_main rounded-t-xl flex items-center px-6 ">
    <h2 class="text-white m-0 text-[19px]">
      Semester details

    </h2>
  </div>
  <div class="px-6 py-4">
    <!--   start semester content -->
    <div class="row-1 flex justify-between gap-16">
      <!--    first row -->

      <div class="basis-0 grow">
        <div class="flex gap-4">
          <div class="mb-[12px] text-text_color font-semibold capitalize pl-1">Semester name
            *
          </div>
          @if (getfield("name").invalid && !getfield("name").untouched) {
            @if (getfield("name").hasError("required")) {
              <mat-error class="translate-y-[-2px]"> {{ errorMsg }}</mat-error>
            } @else if (getfield("name").hasError("duplicate")) {
              <mat-error class="translate-y-[-2px]">{{ duplicationError }}</mat-error>
            }
          }
        </div>
        <mat-form-field appearance="outline" class="form_element w-full">
          <input formControlName="name" matInput placeholder="semester name">

        </mat-form-field>

      </div>

      <div class="basis-0 grow">
        <div class="flex gap-4">
          <div class="mb-[12px] text-text_color font-semibold capitalize">Start & End
            *
          </div>
          @if ((getfield("startDate").invalid && !getfield("startDate").untouched)
          || (getfield("endDate").invalid && !getfield("endDate").untouched)) {
            <mat-error class="translate-y-[-2px]">
              Date range not valid !!
            </mat-error>


          }

        </div>


        <div class="flex gap-4 justify-between">
          <mat-form-field appearance="outline" class="form_element basis-0 grow">
            <input [matDatepicker]="picker1" formControlName="startDate" matInput>
            <mat-datepicker-toggle [disableRipple]="true" [for]="picker1" matIconSuffix></mat-datepicker-toggle>
            <mat-datepicker #picker1
                            panelClass="w-[250px]"
            ></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline" class="form_element basis-0 grow">
            <input [matDatepicker]="picker2" formControlName="endDate" matInput>
            <mat-datepicker-toggle [disableRipple]="true" [for]="picker2" matIconSuffix></mat-datepicker-toggle>
            <mat-datepicker #picker2
                            panelClass="w-[250px]"
            ></mat-datepicker>
          </mat-form-field>
        </div>
      </div>


    </div>
    <!--   end  first row -->
    <!--  start second row -->
    <div>
      <div class="flex gap-4">
        <div class="mb-[12px] text-text_color font-semibold capitalize pl-1 ">Description *</div>
        @if (getfield("description").invalid && !getfield("description").untouched) {
          <mat-error class="translate-y-[-2px]"> {{ errorMsg }}</mat-error>
        }
      </div>
      <mat-form-field appearance="outline" class="form_element w-full text_aria ">
          <textarea class="resize-none" formControlName="description" matInput placeholder="Descritions"
                    rows="2"></textarea>
      </mat-form-field>
    </div>
    <!--   end  second row -->
    <!--    start module content-->
    @if (studyPlanService.getAllModules(semesterIndex).controls) {
      <div formArrayName="modules" class="flex flex-col gap-4">
        @for (module of studyPlanService.getAllModules(semesterIndex).controls; track module; let index = $index) {
          <app-module-form [formModule]="module"
                           [moduleIndex]="index"
                           [semesterIndex]="semesterIndex"

          ></app-module-form>

        }
      </div>

    }
    <!--      &lt;!&ndash;    end  module content&ndash;&gt;-->
    <!--start semester footer-->
    <div class="  mt-6 mb-1">
      <button (click)="studyPlanService.addModule(semesterIndex)"
              class=" h-[35px] rounded-full text-white bg-yellow_color
                        font-light text-[13px] px-2 py-1 mr-4"
              mat-flat-button
              type="button">

        Add module
      </button>
      <button (click)="studyPlanService.removeSemester(semesterIndex)"
              class=" h-[35px] rounded-full
              text-white bg-orange_color
              font-light text-[13px] px-2 py-1"
              mat-flat-button
              type="button">
        Remove semester
      </button>
    </div>
    <!--start semester footer-->

    <!--   end semester content  -->
  </div>
</div>

