<div [formGroup]="_formSubject"
     class="rounded-xl bg-white mt-1 border-gray_color border">
  <div class="h-[45px] bg-purple_main
              rounded-t-xl flex items-center px-6 ">
    <h2 class="text-white m-0 text-[16px]">
      Subject details {{subjectIndex +1 }}
    </h2>
  </div>
  <div class="px-4 py-4">
    <!--            Start subject first row -->
    <div class="row-1 flex justify-between gap-16">

      <div class="basis-0 grow">
        <div class="flex gap-4">
          <div class="mb-[12px] text-text_color font-semibold capitalize pl-1">Subject name *</div>
          @if (getfield("name").invalid && !getfield("name").untouched) {
            @if (getfield("name").hasError("required")) {
              <mat-error class="translate-y-[-2px]"> {{ errorMsg }}</mat-error>
            } @else if (getfield("name").hasError("duplicate")) {
              <mat-error class="translate-y-[-2px]">{{ duplicationError }}</mat-error>
            }
          }

        </div>
        <mat-form-field appearance="outline" class="form_element w-full">
          <input formControlName="name" matInput placeholder="Subject name">
        </mat-form-field>
      </div>

      <div class="basis-0 grow">
        <div class="flex justify-between">
          <div class="mb-[12px] text-text_color
                   font-semibold capitalize"
          >
            Avg & Coef *
          </div>

          @if (getfield("coefficientId").invalid && !getfield("coefficientId").untouched) {
            <mat-error class="translate-y-[-2px]"> {{ errorMsg }}</mat-error>
          }

        </div>

        <div class="flex gap-4 justify-between">
          <mat-form-field appearance="outline"
                          class="form_element avg_field basis-0 grow-[1]">
            <input [value]="getSubjectAvg()"  formControlName="subjectAvg" readonly
                   matInput placeholder="Avg ">

          </mat-form-field>
          <app-auto-complete-form (createItem)="createItem($event)"
                                  [displayFn]="displayFn"
                                  [fieldControl]="getfield('coefficientId')"
                                  [label]="'Subject coefficient'"
                                  [numberType]="true"
                                  [optionsList]="dataOptionsCoefficient()"
                                  class="'form_element basis-0 grow '"
          ></app-auto-complete-form>


        </div>
      </div>
    </div>
    <!--            End Subject first row -->
    <!--            Start tests-->
    <!--    <app-test-form></app-test-form>-->
    @if (tests.controls) {
      <div class=" w-full   flex flex-col gap-4" formArrayName="tests">
        <h3 class="text-grey_3 font-semibold text-[19px]  mb-0">Tests </h3>
        @for (test of tests.controls; track test; let index = $index) {
          <app-test-form [formTest]="test"
                         [testIndex]="index"
                         (addTest)="addTest($event)"
                         (removeTest)="removeTest($event)"
          ></app-test-form>
        }
      </div>
    }
    <!--            End Tests -->
    <!--            Start Subjects Type -->

    @if (subjectTypes.controls) {
      <div class=" w-full  mt-4 flex flex-col gap-4" formArrayName="subjectTypes">
        <h3 class="text-grey_3 font-semibold text-[19px] mb-0">Subjects Type </h3>
        @for (subjectType of subjectTypes.controls; track subjectType; let index = $index) {
          <app-subject-type-form
            [formSubjectType]="subjectType"
            [subjectTypeIndex]="index"
            (addSubjectType)="addSubjectType($event)"
            (removeSubjectType)="removeSubjectType($event)"
          ></app-subject-type-form>
        }
      </div>
    }
    <!--            End Subjects Type -->
    <!--      subject footer -->
    <div class="  mt-4 mb-1">
      <button (click)="removeSubject()"
              class=" h-[35px] rounded-full text-white bg-orange_color
                      font-light text-[13px] px-2 py-1"
              mat-flat-button
      >
        Remove subject
      </button>

    </div>
    <!--      subject footer -->

  </div>
</div>
