<app-page-header
  [linkHistory]="linkHistory()"
  icon="receipt"
  title="Study Plan Overview"
></app-page-header>

<button [queryParams]="{ status: 'create' }"
        [routerLink]="baseUrl+'/study-plan/'+levelId+'/create'"
        class="bg-purple_main text-[15px] font-light h-[40px] px-[22px]  flex ml-auto"
        extended mat-fab>
  <mat-icon class=" font-semibold text-[22px] leading-[22px] mr-2 ">add</mat-icon>
  Add study Plan

</button>
<!--plan = {{currentLevel()?.studyPlan}}-->


@if (pdfUrl) {
  <div class="bg-white p-4 mt-8 rounded-md mx-auto w-[80%]">
    <object [data]="pdfUrl | safeUrl" class=" pdf rounded-md h-[90vh] w-full" type="application/pdf"></object>
  </div>

} @else {
  <div class=" h-[250px] flex justify-end items-center flex-col">
    <mat-icon class="text-[80px] w-[80px] h-[80px] leading-[80px] text-grey_3
                      text-center  opacity-60l"
              fontSet="material-icons-outlined"
    >outlet
    </mat-icon>
    <p class="text-[25px] mt-2 pt-1 font-light  text-grey_3 opacity-70"> No Data </p>
  </div>

}

{{ pdfUrl }}
