<div [formGroup]="_formModule" class=" rounded-xl bg-white mt-1 border-gray_color border">
  <div class="h-[57px] bg-purple_main rounded-t-xl flex items-center px-6 ">
    <h2 class="text-white m-0 text-[18px]">
      Module details ({{ moduleIndex + 1 }})
    </h2>
  </div>
  <div class="px-4 py-4">
    <!--        first row start module -->
    <div class="row-1 flex justify-between gap-16">
      <div class="basis-0 grow">
        <div class="flex gap-4">
          <div class="mb-[12px] text-text_color
                   font-semibold capitalize pl-1">
            Module name *
          </div>

          @if (getfield("moduleName").invalid && !getfield("moduleName").untouched) {
            @if (getfield("moduleName").hasError("required")) {
              <mat-error class="translate-y-[-2px]"> {{ errorMsg }}</mat-error>
            } @else if (getfield("moduleName").hasError("duplicate")) {
              <mat-error class="translate-y-[-2px]">{{ duplicationError }}</mat-error>
            }
          }
        </div>
        <mat-form-field appearance="outline"
                        class="form_element w-full">
          <input formControlName="moduleName"
                 matInput
                 placeholder="module name">
        </mat-form-field>
      </div>
      <div class="basis-0 grow">
        <div class="flex gap-4 ">
          <div class="mb-[12px] text-text_color
                    font-semibold capitalize pl-1">
            Module type *
          </div>
          @if (getfield("moduleType").invalid && !getfield("moduleType").untouched) {
            <mat-error class="translate-y-[-2px]"> {{ errorMsg }}</mat-error>
          }
        </div>

        <app-auto-complete-form (createItem)="createItem($event)"
                                [displayFn]="displayFn"
                                [fieldControl]="getfield('moduleType')"
                                [label]="'module type'"
                                [optionsList]="dataOptionsModuleType()"
        >
        </app-auto-complete-form>
      </div>
    </div>
    <!--        first row  end module-->

    <!--        start second row module -->
    <div>
      <div class="mb-[12px] text-text_color
                  font-semibold capitalize pl-1">
        Description *
      </div>
      <mat-form-field appearance="outline"
                      class="form_element w-full text_aria">

        <textarea class="resize-none"
                  formControlName="moduleDescription"
                  matInput
                  placeholder="Module descritions"
                  rows="2">
        </textarea>
      </mat-form-field>
    </div>
    <!--        end second row module  -->
    <!--      start subject -->
    @if (studyPlanService.getAllSubject(semesterIndex, moduleIndex).controls) {
      <div formArrayName="subjects" class="flex flex-col gap-4">
        @for (subject of studyPlanService.getAllSubject(semesterIndex, moduleIndex).controls; track subject; let index = $index) {
          <app-subject-form [formSubject]="subject"
                            [subjectIndex]="index"
                            [moduleIndex]="moduleIndex"
                            [semesterIndex]="semesterIndex"

          >
          </app-subject-form>
        }
      </div>

    }
    <!--      End Subject -->
    <!--        module footer-->
    <div class="  mt-6 mb-1">
      <button (click)="studyPlanService.addSubject(semesterIndex,moduleIndex)"
              class="h-[35px] rounded-full text-white bg-yellow_color
                     font-light text-[13px] px-2 py-1 mr-4"
              mat-flat-button
              type="button">
        Add subject
      </button>
      <button (click)="removeModule()"
              class=" h-[35px] rounded-full
              text-white bg-orange_color
              font-light text-[13px] px-2 py-1"
              mat-flat-button
              type="button"
      >
        Remove module
      </button>

    </div>
    <!--        module footer-->

  </div>

</div>

