
  <!--              subject type-->
  <div class=" bg-[#F5F5F5] px-4 pt-4  pb-1 rounded-md  flex items-center gap-8" [formGroup]="_formSubjectType">
    <div class="flex gap-4 justify-between items-center basis-0 grow">
      <div class="basis-0 grow">
        <div class="mb-[12px] text-text_color font-semibold capitalize pl-1">Subject type *</div>
        <mat-form-field appearance="outline" class="form_element w-full">
          <input formControlName="subjectType" [matAutocomplete]="auto" matInput placeholder="Subject type type"
                 type="text">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" class="auto_complete_form">
            @for (option of filteredOptions | async; track option) {
              <mat-option [value]="option">{{ option.name }}</mat-option>
            } @empty {
              <mat-option [value]="myControl" class="bg-[#393e732e]">
                <div class="absolute top-0 left-0 h-full px-4 flex items-center"
                     (click)="prevent($event)">
                  add
                  <span class="ml-2 font-semibold text-text_color">
                    {{
                      getDisplayValue()
                    }}
                  </span>
                </div>
              </mat-option>
              <mat-option disabled="true " class="min-h-[30px] " (click)="prevent($event)"
                          (mousedown)="prevent($event)">No results found
              </mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div class="basis-0 grow">
        <div class="mb-[12px] text-text_color font-semibold capitalize pl-1">NBH *</div>
        <mat-form-field appearance="outline" class="form_element w-full ">
          <input formControlName="subjectTypeNbh" [matAutocomplete]="auto" matInput placeholder="Subject type NBH"
                 type="text">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" class="auto_complete_form">
            @for (option of filteredOptions | async; track option) {
              <mat-option [value]="option">{{ option.name }}</mat-option>
            } @empty {
              <mat-option [value]="myControl" class="bg-[#393e732e]">
                <div class="absolute top-0 left-0 h-full px-4 flex items-center"
                     (click)="prevent($event)">
                  add
                  <span class="ml-2 font-semibold text-text_color">
                    {{
                      getDisplayValue()
                    }}
                  </span>
                </div>
              </mat-option>
              <mat-option disabled="true " class="min-h-[30px] " (click)="prevent($event)"
                          (mousedown)="prevent($event)">No results found
              </mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>

      </div>
    </div>
    <!--          start test action-->
    <div class=" flex gap-2  mt-1">
      <div (click)="addSubjectTypeEmit(0)" class="h-6 w-6 rounded-full bg-yellow_color cursor-pointer">
        <mat-icon class="text-white font-light scale-[0.8]"> add</mat-icon>
      </div>
      <div (click)="removeSubjectTypeEmit(subjectTypeIndex)" class="h-6 w-6 rounded-full bg-orange_color cursor-pointer">
        <mat-icon class="text-white font-light scale-[0.8]">remove</mat-icon>
      </div>
    </div>
    <!--          end  test action-->
  </div>
  <!--              subject type -->

