<!--              subject type-->
<div [formGroup]="_formSubjectType" class=" bg-[#F5F5F5] px-4 pt-4  pb-1 rounded-md  flex items-center gap-8">
  <div class="flex gap-4 justify-between items-center basis-0 grow">
    <div class="basis-0 grow">
      <div class="flex gap-4">
        <div class="mb-[12px] text-text_color font-semibold capitalize pl-1">Subject type
          *
        </div>

        @if (getfield("subjectType").invalid && !getfield("subjectType").untouched) {
          @if (getfield("subjectType").hasError("required")) {
            <mat-error class="translate-y-[-2px]"> {{ errorMsg }}</mat-error>
          } @else if (getfield("subjectType").hasError("duplicate")) {
            <mat-error class="translate-y-[-2px]">{{ duplicationError }}</mat-error>
          }
        }

      </div>
      <app-auto-complete-form (createItem)="createTypeOfSubjectItem($event)"
                              [displayFn]="displayFnTypeOfSubject"
                              [fieldControl]="getfield('subjectType')"
                              [label]="'type of subject '"
                              [optionsList]="dataOptionsTypeOfSubject()"
                              class="'form_element w-full '"
      ></app-auto-complete-form>


    </div>

    <div class="basis-0 grow">
      <div class="flex gap-4">
        <div class="mb-[12px] text-text_color font-semibold capitalize pl-1">NBH *</div>

        @if (getfield("subjectTypeNbh").invalid && !getfield("subjectTypeNbh").untouched) {
          <mat-error class="translate-y-[-2px]"> {{ errorMsg }}</mat-error>
        }

      </div>
      <app-auto-complete-form (createItem)="createNumberOfSessionItem($event)"
                              [displayFn]="displayFnNumberOfSession"
                              [fieldControl]="getfield('subjectTypeNbh')"
                              [label]="'Number of sessiont '"
                              [numberType]="true"
                              [optionsList]="dataOptionsNumberOfSession()"
                              class="'form_element w-full '"
      ></app-auto-complete-form>

    </div>
  </div>
  <!--          start test action-->
  <div class=" flex gap-2  mt-1">
    <div (click)="addSubjectTypeEmit(0)" class="h-6 w-6 rounded-full bg-yellow_color cursor-pointer">
      <mat-icon class="text-white font-light scale-[0.8]"> add</mat-icon>
    </div>
    <div (click)="removeSubjectTypeEmit(subjectTypeIndex)" class="h-6 w-6 rounded-full bg-orange_color cursor-pointer">
      <mat-icon class="text-white font-light scale-[0.8]">remove</mat-icon>
    </div>
  </div>
  <!--          end  test action-->
</div>
<!--              subject type -->

