<app-page-header
  [linkHistory]="linkHistory()"
  icon="receipt"
  title="Create study plan  "
></app-page-header>
<form (ngSubmit)="onSubmit()" [formGroup]="studyPlanService.studyPlanFrom" id="allform">
  @if (studyPlanService.getAllSemesters().controls) {
    <div formArrayName="semesters">
      @for (semester of studyPlanService.getAllSemesters().controls; track semester; let index = $index) {
        <app-semester-form
          [formSemester]="semester"
          [semesterIndex]="index"
        ></app-semester-form>

      }
    </div>
  }
</form>
<div class="mt-6  flex ml-auto gap-4 w-fit">

  <button (click)="studyPlanService.addSemester()"
          [style.border]="' solid 1.8px  !important'"
          class="bg-transparent  border-2  border-red-500 text-purple_main  text-[15px]  shadow-none h-[40px] px-[22px]  flex "
          extended mat-fab
          type="button">
    <mat-icon class=" font-light text-[22px] leading-[22px] mr-2 ">add</mat-icon>
    Add new semester
  </button>
  <button
    class="bg-purple_main text-[15px] font-light h-[40px] px-[22px] "
    extended
    form="allform"
    mat-fab type="submit">
    Submit
  </button>
</div>
